@{
	ViewData["Title"] = "Лабораторна роботи ІСтаТП 2026.Zekterfy";
}
@if (User.Identity.IsAuthenticated)
{
	<div class="alert alert-success d-flex justify-content-between align-items-center">
		<span>Привіт, <strong>@User.Identity.Name</strong>! Готовий слухати музику?</span>
        
		<form method="post" asp-controller="Account" asp-action="Logout" class="m-0">
			<button type="submit" class="btn btn-sm btn-outline-danger">Вихід</button>
		</form>
	</div>
}
else
{
	<a asp-controller="Account" asp-action="Login"> Вхід </a>
	<a asp-controller="Account" asp-action="Register"> Реєстація </a>
}