body {
    background-color: #121212 !important;
    color: #ffffff !important;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.spotify-table {
    color: #b3b3b3;
    border-collapse: separate;
    border-spacing: 0 5px;
}

    .spotify-table th {
        color: #b3b3b3;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 1px solid #282828 !important;
        padding-bottom: 10px;
    }

    .spotify-table td {
        background-color: transparent;
        border: none !important;
        vertical-align: middle;
    }


.spotify-song-title {
    color: #ffffff;
    font-weight: 600;
}

.spotify-table tbody tr:hover td {
    background-color: #2a2a2a;
    color: #ffffff;
    cursor: pointer;
}

    .spotify-table tbody tr:hover td:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .spotify-table tbody tr:hover td:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }


.spotify-top-card {
    background-color: #2a2a2a;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 80px;
}

    .spotify-top-card:hover {
        background-color: #3e3e3e;
    }

    .spotify-top-card .img-placeholder {
        width: 80px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        box-shadow: 10px 0 20px rgba(0,0,0,0.2);
    }

    .spotify-top-card .play-btn {
        position: absolute;
        right: 20px;
        opacity: 0;
        transition: all 0.3s ease;
        box-shadow: 0 8px 8px rgba(0,0,0,0.3);
        transform: translateY(10px);
    }

    .spotify-top-card:hover .play-btn {
        opacity: 1;
        transform: translateY(0);
    }

.spotify-grid-card {
    background-color: #181818;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    height: 100%;
}

    .spotify-grid-card:hover {
        background-color: #282828;
    }

    .spotify-grid-card .img-placeholder-square {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 6px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        box-shadow: 0 8px 24px rgba(0,0,0,0.5);
    }

.grad-1 {
    background: linear-gradient(135deg, #450af5, #c4efd9);
}

.grad-2 {
    background: linear-gradient(135deg, #f50a8c, #efc4c4);
}

.grad-3 {
    background: linear-gradient(135deg, #1db954, #191414);
}

.grad-4 {
    background: linear-gradient(135deg, #ff9800, #fd7e14);
}
